.Calculatore{
    margin-top: 1em;
    height: 400px;
    width: 600px;
    background-color: rgba(15,15,15, 0.65);
    border: 1px solid rgba(150,150,150,0.2);
    box-shadow: 0px 0px 5px 20px rgba(0, 0, 0, 0.5);
}
.head {
    font-size: 1.1em;
    margin-bottom: 10px;
    font-weight: 600;

}
.matrix {
    float: left;
    margin-left: 50px;
}
.row ::top{
     margin-top: 10px;
    margin-bottom: 10px;
}
/* .matrix:last-child {
    /* visibility: hidden; 
} */
.num {
    font-size: medium;
    transition: all 0.2s ease;
    color: #FFF;
    background: rgba(233, 190, 190, 0.5);
    border: 2px solid #151515;
    height: 50px;
    width: 50px;
    border-radius: 40% ;
    color: black;
    font-size: medium;
    text-align: center;
    margin: 5px;
    font-weight: 500;
    padding: 3px;
    box-shadow: 1px 1px 4px 4px rgba(0,255,0,0.05);
}
.num:focus{
    font-weight: 600;
    text-indent: 2pt;
    background: rgba(173, 165, 165, 0.5);
    
}
#operation ,#op{
    font-weight: bold;
    font-size: large;
    padding-bottom: 50%;
    align-items: flex-end;
    align-self: center;
}
#clear{
    float: none;
    float:none;
}
.calcOperation{
    width: 300px;
    height: 50px;
}
.btn-calculate {
    width: 20%;
    margin: 10%;
    height: 90%;
    color:black;
    margin: 2.5px;
    display: inline-block;
    border: 2px solid #151515;
    border-radius: 30%;
}

* {
    margin: 0;
    padding: 0;
  }
  
/* body {
    background: black;
  } */
